html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.flex {
	display: flex;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerRegular'),
		url('../assets/fonts/MullerRegular.woff2') format('woff2'),
		url('../assets/fonts/MullerRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local('MullerBold'),
		url('../assets/fonts/MullerBold.woff2') format('woff2'),
		url('../assets/fonts/MullerBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Russo';
	src: local('RussoRegular'),
		url('../assets/fonts/russo-one.woff2') format('woff2'),
		url('../assets/fonts/russo-one.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-light: #fff;
	--color-dark: #07060B;
	--color-red: #d13130;
	--color-athens: #ededf2;
	--color-gray: #95959d;
	--color-primary: #46f4db;
	--color-primary-active: #57d272;
	--color-gradient: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
	--gap: 32px;
	--time: .3s;
	--style: ease-in-out;
	--focus-transition: outline-color var(--time) var(--style);
	--color-transition: color var(--time) var(--style);
	--bg-transition: background var(--time) var(--style);
}


body {
	font-family: 'Muller', sans-serif;
	font-size: 20px;
	line-height: 20px;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1300px;
}

.section-offset {
	margin-bottom: 90px;
}

.title {
	margin-bottom: var(--gap);
	font-family: 'Russo', sans-serif;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	color: var(--color-dark);
}

.second-title {
	font-family: 'Russo', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.btn {
	position: relative;
	min-width: 296px;
	padding: 25px 4px;
	border-radius: 40px;
	outline: none;
	font-weight: 700;
	background: transparent;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: inherit;
	background: var(--color-gradient);
	opacity: 0;
	transition: opacity var(--time) var(--style);
}

.btn::after {
content: '';
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
border-radius: inherit;
background: var(--color-primary-active);
opacity: 0;
transition: opacity var(--time) var(--style);
}

.btn__text {
	position: relative;
	z-index: 5;
}

.btn--fill {
	background: var(--color-primary);
}

.btn--fill:focus::before {
	opacity: 1;
}

.btn--fill:hover::before {
	opacity: 1;
}

.btn--fill:active::after {
	opacity: 1;
}

.btn--stroke {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	outline: 5px solid var(--color-primary);
	transition: var(--bg-transition), var(--focus-transition);
}

.btn--stroke:focus {
	background: var(--color-primary);
}

.btn--stroke:hover {
	background: var(--color-primary);
}

.btn--stroke:active {
	outline-color: var(--color-primary-active);
	background: var(--color-primary-active);
}

.form-input {
	width: 100%;
	padding-left: var(--gap);
	width: 100%;
	height: 70px;
	border: none;
	border-radius: 40px;
	font-weight: 400;
	font-style: 20px;
	line-height: 20px;
}

/* header start */
.header {
	padding: 10px 0;
	background-color: var(--color-light);
}

.header__container {
	align-items: center;
}

.header__logo {
	margin-right: calc(var(--gap)*2);
}

.header__nav {
	margin-right: auto;
}

.nav__item:not(:last-child) {
	margin-right: var(--gap);
}

.nav__link {
	font-weight: 700;
	outline-color: transparent;
	transition: color var(--time) var(--style);
}

.nav__link:focus-visible {
	outline: 2px solid var(--color-primary-active);
	outline-offset: 10px;
	transition: var(--focus-transition);
}

.nav__link:hover {
	color: var(--color-primary);
}

.nav__link:active {
	color: var(--color-primary-active);
}

.header__btn {
	padding: 17px 4px;
	min-width: 132px;
	border-radius: 77px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color: var(--color-light);
	background: var(--color-dark);
	transition: var(--color-transition), var(--bg-transition);
}

.header__btn:focus {
	outline: none;
	background: var(--color-primary);
	color: var(--color-dark);
}

.header__btn:hover {
	background: var(--color-primary);
	color: var(--color-dark);
}

.header__btn:active {
	background: var(--color-primary-active);
	color: var(--color-dark);
}

/* header end */

/* hero start */
.hero {
	padding: 160px 0;
	background-color: var(--color-dark);
	background-image: url(../assets/img/hero-bg.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right top;
}

.hero__title {
	font-family: 'Russo', sans-serif;
	margin-bottom: 36px;
	width: 50%;
	color: var(--color-light);
	font-weight: 400;
	font-size: 70px;
	line-height: 84px;
}

.hero__btn {
	display: inline-block;
	position: relative;
	border-radius: 40px;
	outline: none;
	text-align: center;
	font-weight: 700;
	background: var(--color-gradient);
	color: var(--color-dark);
}

.hero__btn--fill {
	padding: 25px 4px;
	margin-right: var(--gap);
	min-width: 176px;
}

.hero__btn--stroke {
	padding: 25px 4px;
	min-width: 247px;
}

.hero__btn-text {
	position: relative;
	z-index: 5;
}

.hero__btn--stroke .hero__btn-text {
	padding: 20px 48px;
	border-radius: inherit;
	color: var(--color-light);
	background: var(--color-dark);
	transition: var(--bg-transition), var(--color-transition);
}

.hero__btn::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: inherit;
	background: var(--color-primary);
	opacity: 0;
	transition: opacity var(--time) var(--style);
}

.hero__btn::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: inherit;
	background: var(--color-primary-active);
	opacity: 0;
	transition: opacity var(--time) var(--style);
}

.hero__btn:focus .hero__btn-text {
	color: var(--color-dark);
	background: transparent;
}

.hero__btn:focus::before {
	opacity: 1;
}

.hero__btn--fill:hover .hero__btn-text {
	color: var(--color-dark);
	background: transparent;
}

.hero__btn:hover::before {
	opacity: 1;
}

.hero__btn--stroke:hover .hero__btn-text {
	color: var(--color-dark);
	background: transparent;
}

.hero__btn:active .hero__btn-text {
	color: var(--color-dark);
	background: transparent;
}

.hero__btn:active::after {
	opacity: 1;
}

/* hero end */

/* auction start */
.auction__title {
	display: inline-flex;
	align-items: center;
}

.auction__state {
	display: inline-flex;
	align-items: center;
	padding: 10px 15px;
	border: 2px solid currentColor;
	border-radius: 40px;
	font-family: 'Muller', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: var(--color-red);
	transform: translateX(16px);
}

.auction__state::before {
	content: '';
	margin-right: 5px;
	border-radius: 100%;
	width: 6px;
	height: 6px;
	background: currentColor;
}

.auction__img {
	margin-right: var(--gap);
}

.auction__info {
	width: calc(100% - 460px - var(--gap));
}

.owner {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
}

.auction__owner {
	margin-bottom: var(--gap);
	padding: 11px 16px;
	border-radius: 23px;
	background: var(--color-athens);
	color: var(--color-dark);
}

.auction__owner-avatar {
	margin-right: 16px;
}

.auction__subtitle {
	margin-bottom: var(--gap);
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: var(--color-dark);
}

.auction__props {
	margin-bottom: var(--gap);
}

.auction-bet {
	flex-direction: column;
	margin-right: var(--gap);
	padding: var(--gap);
	padding-right: 57px;
	border-radius: 40px;
	background: var(--color-athens);
}

.auction-bet__title {
	margin-bottom: 16px;
	font-weight: 700;
	color: var(--color-dark);
}

.auction-bet__price {
	margin-bottom: 6px;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	color: var(--color-dark);
}

.auction-bet__price-dollars {
	font-weight: 700;
	color: var(--color-gray);
}

.auction-timer {
	flex-grow: 1;
	padding: var(--gap);
	border-radius: 40px;
	background: var(--color-dark);
	color: var(--color-light);
	background-image: url('../assets/svg/clock.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - var(--gap));
	background-size: 121px 121px;
}

.auction-timer__title {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 16px;
}

.auction-timer__time {
	flex-direction: column;
	align-items: center;
}

.auction-timer__time:not(:last-child) {
	margin-right: 26px;
}

.auction-timer__value {
	margin-bottom: 6px;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
}

.auction-timer__text {
	font-weight: 700;
}
/* auction end */

/* auctions start */
.auctions__title {
	margin-bottom: var(--gap);
}

.auctions__list {
	flex-wrap: wrap;
}

.auctions__item {
	width: 296px;
	margin-bottom: var(--gap);
}

.auctions__item:not(:nth-child(4n)) {
	margin-right: var(--gap);
}

.auctions-product__img {
	justify-content: center;
	padding: 7px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: var(--color-athens);
}

.auctions-product__info {
	flex-direction: column;
	align-items: flex-start;
	padding: 16px;
	padding-bottom: 32px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	color: var(--color-light);
	background: var(--color-dark);
}

.auctions-product__avatar {
	margin-right: 8px;
}

.auctions-product__nickname {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
}

.auctions-product__owner {
	margin-bottom: 16px;
}

.auctions-product__subtitle {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}

.auctions-product__price {
	margin-bottom: 11px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: var(--color-primary);
}

.auctions-product__timer {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: var(--color-gray);
}

.auctions__btn {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
/* auctions end */

/* new start */
.new {
	padding: 90px 0;
	background: var(--color-dark);
}

.new__title {
	margin-bottom: var(--gap);
	padding-left: 64px;
	color: var(--color-light);
	background-image: url('../assets/img/fire.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

.new__slider {
	width: 100%;
	margin-bottom: 64px;
	overflow: hidden;
}

.new__sticker img:not(:last-child) {
	margin-right: 28px;
}

.new__pagination {
	position: initial;
}

.swiper-pagination-bullet {
	width: auto;
	height: auto;
	padding: 10px 23px;
	border: 2px solid var(--color-red);
	border-radius: 40px;
	font-weight: 700;
	font-style: 16px;
	line-height: 16px;
	color: var(--color-light);
	background-color: transparent;
	opacity: 1;
	transition: var(--bg-transition);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
	margin-right: 20px;
}

.swiper-pagination-bullet-active {
	background: var(--color-red);
}
/* new end */

/* subscribe start */
.subscribe {
 background: var(--color-red);
}

.subscribe__container {
	padding: var(--gap) 0;
	background-image: url('../assets/img/subscribe-bg.png');
	background-position: right center;
	background-size: contain;
	background-repeat: no-repeat;
}

.subscribe__title {
	margin-bottom: var(--gap);
	color: var(--color-light);
}

.subscribe-form {
	flex-direction: column;
	align-items: flex-start;
	max-width: 460px;
}

.subscribe-form__input {
	margin-bottom: 16px;
	outline: none;
	color: var(--color-light);
	background: var(--color-dark);
	transition: outline var(--time) var(--style), var(--bg-transition);
}

.subscribe-form__input::placeholder {
	color: var(--color-athens);
}

.subscribe-form__input:focus {
	outline: 2px solid var(--color-dark);
	background: var(--color-red);
}

.subscribe-form__input:hover {
	background: rgba(7, 6, 11, 0.7);
}

.subscribe-form__btn {
	margin-bottom: 16px;
}

.checkbox {
	position: relative;
	user-select: none; /*убрать выделение текста по клику*/
}

.checkbox__input {
	position: absolute;
	opacity: 0;
}

.checkbox__text {
	border: 1px solid transparent;
	position: relative;
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 12px;
	color: var(--color-light);
}

.checkbox__text::before {
	content: '';
	border: 1px solid currentColor;
	margin-right: 8px;
	width: 14px;
	height: 14px;
	background-image: url('../assets/svg/check.svg');
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	transition: var(--bg-transition);
}

.checkbox__input:checked + .checkbox__text::before {
	background-image: none;
}

.checkbox__input:focus-visible + .checkbox__text {
	border-color: var(--color-light);
}
/* subscribe end */

/* become-author start */
.become-author__title {
	margin-bottom: calc(var(--gap) / 2);
}

.become-author__text {
	width: calc(50% - var(--gap));
	margin-right: var(--gap);
}

.become-author__subtitle {
	margin-bottom: calc(var(--gap) / 2);
	padding-right: 100px;
	font-family: 'Russo', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--color-dark);
}

.become-author__descr {
	margin-bottom: var(--gap);
	font-weight: 400;
	line-height: 30px;
	color: var(--color-dark);
}

.become-author-form {
	flex-direction: column;
	align-items: flex-start;
	width: calc(50% - var(--gap));
	padding-top: 10px;
}

.file {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--gap);
	width: 100%;
	min-height: 342px;
	border-radius: 40px;
	background-color: var(--color-athens);
	cursor: pointer;
}

.file__input {
	position: absolute;
	opacity: 0;
	appearance: none;
}

.file__icon {
	position: relative;
	width: 100px;
	height: 100px;
	margin-bottom: calc(var(--gap) / 2);
	border-radius: 100%;
	background-color: var(--color-light);
}

.file__icon::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 6px;
	background-color: var(--color-athens);
	transform: translate(-50%, -50%); 
}

.file__icon::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 6px;
	height: 40px;
	background-color: var(--color-athens);
	transform: translate(-50%, -50%);
}

.file__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #95959d;
}

.become-author-form__input {
	margin-bottom: var(--gap);
	background-color: var(--color-athens);
	color: #717178;
}
/* become-author end */

/* top start */
	.top__list {
		flex-wrap: wrap;
	}

	.top__item {
		width: calc(50% - var(--gap) / 2);
	}

	.top__item:not(:nth-child(2n)) {
		margin-right: var(--gap);
	}

	.top__item:not(:nth-last-of-type(-n+2)) {
		margin-bottom: var(--gap);
	}
/* top end */

/* footer start */
.footer__top {
	padding: 20px 0;
	background-color: var(--color-primary);
}

.footer__container {
	justify-content: space-between;
	align-items: center;
}

.footer__item:not(:last-child) {
	margin-right: var(--gap);
}

.footer__bottom {
	justify-content: center;
	background-color: var(--color-dark);
}

.footer__text {
	padding: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: var(--color-athens);
}
/* footer end */



